html {
  background: url("libs/sebastien-marchand-232356-unsplash.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #87d88b;
  font-size: 100px;
  font-weight: 600;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-seriff;
  background: rgba(75, 75, 75, 0.5);
  border-radius: 12px;
}

div.container2 {
  margin: 0;
  background: rgba(131, 131, 131, 0.5);
  border-radius: 12px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}

div.container {
  margin-left: 100px;
  margin-top: 50px;
}

span.num {
  font-size: 75px;
  margin-left: 80px;
}

span.text {
  color: whitesmoke;
  font-size: 24px;
}

ul.cookInst {
  margin-bottom: 10px;
}

p.selectPls {
  color: whitesmoke;
  font-weight: bold;
  font-size: 30px;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-seriff;
}

#riceAmt {
  color: whitesmoke;
  font-size: 24px;
}

#aguaAmt {
  color: whitesmoke;
  font-size: 24px;
}

div.field {
  padding: 10px;
}

div.timer {
  height: 300px;
  align-content: center;
}
span {
  color: rgb(75, 74, 74);
}
#div.or {
  font-size: 25px;
  color: rgb(255, 255, 255);
}